@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple: #5b21b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.titlteWrapper {
  color: var(--purple);
  font-weight: 500;
}


/* Nav Bar Start */

.navWrapper {
  border-bottom: 1px solid #f5f3ff;
}

/* Nav Bar End */

/* Product Card Start */

.productCardWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.25rem;
}

.productCard {
  width: 33.33%;
}

.productCard img {
  object-fit: contain;
  transform: scale(0.8);
  transition: all .3s;
}

.productCard img:hover {
  transform: scale(1);
}

.cardWrap {
  padding: 25px;
  border-radius: 5px;
  position: relative;
}

.productImageWrap {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #f5f3ff;
}

.productCardBody {
  padding-top: 20px;
  position: relative;
}

.productCardBody h4 {
  font-size: 24px;
}

.productCardBody p {
  font-size: 1.125rem;
  color: #6c757d;
}

.priceTag {
  position: absolute;
  right: 0;
  bottom: 25px;
  padding: 10px;
  background: #5a21b51a;
  width: 75px;
  text-align: right;
}

.priceTag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 22px solid transparent;
  border-left-color: #fff;
}

.priceTag span {
  color: var(--purple);
  font-weight: bold;
  font-size: 14px;
}

.currencySymbol {
  padding-right: 5px;
}

.priceAmount {
  letter-spacing: 1px;
}

/* Product Caed End */

/* Poduct Detail Popup Start */

.ProductDetailPopupWrap {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: all .3s;
}

.ProductDetailPopupWrap.close {
  top: -100%;
  opacity: 0;
  visibility: hidden;
}

.ProductDetailPopupWrap.open {
  top: 0%;
  opacity: 1;
  visibility: visible;
}

.proudctDetailPopupWrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
  margin: auto;
  max-width: 800px;
  background: #fff;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left, .right {
  width: 50%;
  overflow: hidden;
}

.proudctDetailPopupWrap .right {
  padding-top: 30px;
}


.right .title {
  font-size: 30px;
  color: var(--purple);
  font-weight: 500;
  letter-spacing: 1px;
}

.right .desc {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.right .price {
  font-size: 20px;
  font-weight: 600;
  color: var(--purple);
}

.cloeBtnWrap, .right .button button {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;  
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--purple);
  transition: all .3s;
}

.cloeBtnWrap span, .right .button button {
  font-size: 16px;
  letter-spacing: 1px;
}

.cloeBtnWrap:hover, .right .button button:hover {
  background: var(--purple);
  color: #fff;
}

.cloeBtnWrap svg , .right .button button{
  transition : all .3s;
}

.cloeBtnWrap:hover svg, .right .button button:hover svg {
  fill: #fff;
}

.quantity, .size {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: calc(100% - 80%);
}

.size {
  width: calc(100% - 25%);
}

.quantityWrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.quantity input, .size select {
  padding: 10px;
  border: 1px solid #828186;
  border-radius: 5px;
  height: 100%;
  background: none;
}

.right .button {
  margin-top: 10px;
}

.thumbnailWrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.thumbnailImageWrap {
  max-width: 50%;
  min-width: 50%;
  position: relative;
}

.thumbnailSwiper {
  position: relative;
  overflow: hidden;
}

.thumbnailSwiper .arrow {
  position: absolute;
  top: -100%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  background: #5a21b580;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 9;
  border-radius: 10%;
  transition: all .3s;
}

.thumbnailSwiper .arrow:hover {
  background: var(--purple);
}

.thumbnailSwiper .arrow.arrowLeft  {
  left: 20px;
}

.thumbnailSwiper .arrow.arrowRight {
  right: 20px;
}

.thumbnailSwiper:hover .arrow {
  top: 50%;
}

/* Product Detail Popup End */